#setAddress{
    cursor: pointer;
}

.address{
    position: relative;
}

a{
    color: black !important;
}

.nav>li:nth-child(3){
    width: 100px;
}

#addressBox{
    /* border: 1px solid red; */
    width:550px;
    height: 270px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: absolute;
    left: -250px;
    top: 20px;
    background-color: #fff;
    box-shadow: 0 0  10px rgba(0, 0, 0, 0.3);
    z-index: 99;
    display: none;
}

#addressBox .addressBox2{
    height: 80%;
    /* border:1px solid red; */
    margin: 25px 0;
}

#closeBtn{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}